language: php

dist: trusty

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - hhvm-3.18

cache:
  directories:
    - vendor

before_script:
  - composer self-update
  - composer install --no-interaction

script:
  - composer run test

after_script:
  - php vendor/bin/coveralls -v

matrix:
  include:
    - php: 5.3
      dist: precise

sudo: false